<!DOCTYPE html>
<html>
<head>
  <title>Petshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Petshop</h1>
	<ul class = "menu">
		<li> <%= link_to "Pets", pets_path %></li>
		<li> <%= link_to "Users", users_path %></li>
		<li> <%= link_to "Animals", animals_path %></li>	
	</ul>
  <p id="notice"><%= notice %></p>
 	<% if current_user %>
  	 Welcome, <%= current_user.name %>!
     Log out <%= link_to "here", logout_path %>  		 
   <% else %>
     Log in <%= link_to "here", login_path %>
	<% end %>


<%= yield %>

</body>
</html>
